[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jieba = "*"
ipykernel = "*"
gensim = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.6"
